node_modules/
src/
build/
linting/
dist/paw/
dist/web/
dist/webworker/

.git/
.babelrc
.eslintignore
.gitignore
.travis.yml
.npmignore
.nvmrc
.travis.yml

Makefile
webpack.config.babel.js
npm-shrinkwrap.json
