{
  "swagger": "2.0",
  "info": {
    "title": "Uber API",
    "description": "Move your app forward with the Uber API",
    "version": "1.0.0"
  },
  "host": "api.uber.com",
  "paths": {
    "/v1/products": {
      "GET": {
        "description": "The Products endpoint returns information about the *Uber* products\noffered at a given location. The response includes the display name\nand other details about each product, and lists the products in the\nproper display order.\n",
        "tags": [
          "Products"
        ],
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/xml"
        ],
        "parameters": [
          {
            "name": "Content-Type",
            "required": false,
            "in": "header",
            "default": "application/json",
            "type": "string",
            "x-use-with": [
              {
                "name": "Content-Type",
                "type": "string",
                "enum": [
                  "application/json"
                ]
              }
            ]
          },
          {
            "name": "latitude",
            "required": true,
            "in": "query",
            "type": "number",
            "x-use-with": [
              {
                "name": "Content-Type",
                "type": "string",
                "enum": [
                  "application/json"
                ]
              }
            ],
            "description": "Latitude component of location.",
            "format": "double"
          },
          {
            "name": "longitude",
            "required": true,
            "in": "query",
            "type": "number",
            "x-use-with": [
              {
                "name": "Content-Type",
                "type": "string",
                "enum": [
                  "application/json"
                ]
              }
            ],
            "description": "Longitude component of location.",
            "format": "double"
          }
        ],
        "responses": {
          "200": {
            "description": "An array of products",
            "schema": {
              "type": "array",
              "items": {
                "$ref": "src/serializers/swagger/__tests__/collections/uber.json#/definitions/Product"
              }
            },
            "x-use-with": [
              {
                "name": "Content-Type",
                "type": "string",
                "enum": [
                  "application/xml"
                ]
              }
            ]
          },
          "default": {
            "description": "Unexpected error",
            "schema": {
              "$ref": "src/serializers/swagger/__tests__/collections/uber.json#/definitions/Error"
            },
            "x-use-with": [
              {
                "name": "Content-Type",
                "type": "string",
                "enum": [
                  "application/xml"
                ]
              }
            ]
          }
        },
        "security": []
      }
    },
    "/v1/estimates/price": {
      "GET": {
        "description": "The Price Estimates endpoint returns an estimated price range\nfor each product offered at a given location. The price estimate is\nprovided as a formatted string with the full price range and the localized\ncurrency symbol.<br><br>The response also includes low and high estimates,\nand the [ISO 4217](http://en.wikipedia.org/wiki/ISO_4217) currency code for\nsituations requiring currency conversion. When surge is active for a particular\nproduct, its surge_multiplier will be greater than 1, but the price estimate\nalready factors in this multiplier.\n",
        "tags": [
          "Estimates"
        ],
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/xml"
        ],
        "parameters": [
          {
            "name": "Content-Type",
            "required": false,
            "in": "header",
            "default": "application/json",
            "type": "string",
            "x-use-with": [
              {
                "name": "Content-Type",
                "type": "string",
                "enum": [
                  "application/json"
                ]
              }
            ]
          },
          {
            "name": "start_latitude",
            "required": true,
            "in": "query",
            "type": "number",
            "x-use-with": [
              {
                "name": "Content-Type",
                "type": "string",
                "enum": [
                  "application/json"
                ]
              }
            ],
            "description": "Latitude component of start location.",
            "format": "double"
          },
          {
            "name": "start_longitude",
            "required": true,
            "in": "query",
            "type": "number",
            "x-use-with": [
              {
                "name": "Content-Type",
                "type": "string",
                "enum": [
                  "application/json"
                ]
              }
            ],
            "description": "Longitude component of start location.",
            "format": "double"
          },
          {
            "name": "end_latitude",
            "required": true,
            "in": "query",
            "type": "number",
            "x-use-with": [
              {
                "name": "Content-Type",
                "type": "string",
                "enum": [
                  "application/json"
                ]
              }
            ],
            "description": "Latitude component of end location.",
            "format": "double"
          },
          {
            "name": "end_longitude",
            "required": true,
            "in": "query",
            "type": "number",
            "x-use-with": [
              {
                "name": "Content-Type",
                "type": "string",
                "enum": [
                  "application/json"
                ]
              }
            ],
            "description": "Longitude component of end location.",
            "format": "double"
          }
        ],
        "responses": {
          "200": {
            "description": "An array of price estimates by product",
            "schema": {
              "type": "array",
              "items": {
                "$ref": "src/serializers/swagger/__tests__/collections/uber.json#/definitions/PriceEstimate"
              }
            },
            "x-use-with": [
              {
                "name": "Content-Type",
                "type": "string",
                "enum": [
                  "application/xml"
                ]
              }
            ]
          },
          "default": {
            "description": "Unexpected error",
            "schema": {
              "$ref": "src/serializers/swagger/__tests__/collections/uber.json#/definitions/Error"
            },
            "x-use-with": [
              {
                "name": "Content-Type",
                "type": "string",
                "enum": [
                  "application/xml"
                ]
              }
            ]
          }
        },
        "security": []
      }
    },
    "/v1/estimates/time": {
      "GET": {
        "description": "The Time Estimates endpoint returns ETAs for all products offered at a given location, with the responses expressed as integers in seconds. We recommend that this endpoint be called every minute to provide the most accurate, up-to-date ETAs.",
        "tags": [
          "Estimates"
        ],
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/xml"
        ],
        "parameters": [
          {
            "name": "Content-Type",
            "required": false,
            "in": "header",
            "default": "application/json",
            "type": "string",
            "x-use-with": [
              {
                "name": "Content-Type",
                "type": "string",
                "enum": [
                  "application/json"
                ]
              }
            ]
          },
          {
            "name": "start_latitude",
            "required": true,
            "in": "query",
            "type": "number",
            "x-use-with": [
              {
                "name": "Content-Type",
                "type": "string",
                "enum": [
                  "application/json"
                ]
              }
            ],
            "description": "Latitude component of start location.",
            "format": "double"
          },
          {
            "name": "start_longitude",
            "required": true,
            "in": "query",
            "type": "number",
            "x-use-with": [
              {
                "name": "Content-Type",
                "type": "string",
                "enum": [
                  "application/json"
                ]
              }
            ],
            "description": "Longitude component of start location.",
            "format": "double"
          },
          {
            "name": "customer_uuid",
            "required": false,
            "in": "query",
            "type": "string",
            "x-use-with": [
              {
                "name": "Content-Type",
                "type": "string",
                "enum": [
                  "application/json"
                ]
              }
            ],
            "description": "Unique customer identifier to be used for experience customization.",
            "x-format": "uuid"
          },
          {
            "name": "product_id",
            "required": false,
            "in": "query",
            "type": "string",
            "x-use-with": [
              {
                "name": "Content-Type",
                "type": "string",
                "enum": [
                  "application/json"
                ]
              }
            ],
            "description": "Unique identifier representing a specific product for a given latitude & longitude."
          }
        ],
        "responses": {
          "200": {
            "description": "An array of products",
            "schema": {
              "type": "array",
              "items": {
                "$ref": "src/serializers/swagger/__tests__/collections/uber.json#/definitions/Product"
              }
            },
            "x-use-with": [
              {
                "name": "Content-Type",
                "type": "string",
                "enum": [
                  "application/xml"
                ]
              }
            ]
          },
          "default": {
            "description": "Unexpected error",
            "schema": {
              "$ref": "src/serializers/swagger/__tests__/collections/uber.json#/definitions/Error"
            },
            "x-use-with": [
              {
                "name": "Content-Type",
                "type": "string",
                "enum": [
                  "application/xml"
                ]
              }
            ]
          }
        },
        "security": []
      }
    },
    "/v1/me": {
      "GET": {
        "description": "The User Profile endpoint returns information about the Uber user that has authorized with the application.",
        "tags": [
          "User"
        ],
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/xml"
        ],
        "parameters": [
          {
            "name": "Content-Type",
            "required": false,
            "in": "header",
            "default": "application/json",
            "type": "string",
            "x-use-with": [
              {
                "name": "Content-Type",
                "type": "string",
                "enum": [
                  "application/json"
                ]
              }
            ]
          }
        ],
        "responses": {
          "200": {
            "description": "Profile information for a user",
            "schema": {
              "$ref": "src/serializers/swagger/__tests__/collections/uber.json#/definitions/Profile"
            },
            "x-use-with": [
              {
                "name": "Content-Type",
                "type": "string",
                "enum": [
                  "application/xml"
                ]
              }
            ]
          },
          "default": {
            "description": "Unexpected error",
            "schema": {
              "$ref": "src/serializers/swagger/__tests__/collections/uber.json#/definitions/Error"
            },
            "x-use-with": [
              {
                "name": "Content-Type",
                "type": "string",
                "enum": [
                  "application/xml"
                ]
              }
            ]
          }
        },
        "security": []
      }
    },
    "/v1/history": {
      "GET": {
        "description": "The User Activity endpoint returns data about a user's lifetime activity with Uber. The response will include pickup locations and times, dropoff locations and times, the distance of past requests, and information about which products were requested.<br><br>The history array in the response will have a maximum length based on the limit parameter. The response value count may exceed limit, therefore subsequent API requests may be necessary.",
        "tags": [
          "User"
        ],
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/xml"
        ],
        "parameters": [
          {
            "name": "Content-Type",
            "required": false,
            "in": "header",
            "default": "application/json",
            "type": "string",
            "x-use-with": [
              {
                "name": "Content-Type",
                "type": "string",
                "enum": [
                  "application/json"
                ]
              }
            ]
          },
          {
            "name": "offset",
            "required": false,
            "in": "query",
            "type": "integer",
            "x-use-with": [
              {
                "name": "Content-Type",
                "type": "string",
                "enum": [
                  "application/json"
                ]
              }
            ],
            "description": "Offset the list of returned results by this amount. Default is zero.",
            "format": "int32"
          },
          {
            "name": "limit",
            "required": false,
            "in": "query",
            "type": "integer",
            "x-use-with": [
              {
                "name": "Content-Type",
                "type": "string",
                "enum": [
                  "application/json"
                ]
              }
            ],
            "description": "Number of items to retrieve. Default is 5, maximum is 100.",
            "format": "int32"
          }
        ],
        "responses": {
          "200": {
            "description": "History information for the given user",
            "schema": {
              "$ref": "src/serializers/swagger/__tests__/collections/uber.json#/definitions/Activities"
            },
            "x-use-with": [
              {
                "name": "Content-Type",
                "type": "string",
                "enum": [
                  "application/xml"
                ]
              }
            ]
          },
          "default": {
            "description": "Unexpected error",
            "schema": {
              "$ref": "src/serializers/swagger/__tests__/collections/uber.json#/definitions/Error"
            },
            "x-use-with": [
              {
                "name": "Content-Type",
                "type": "string",
                "enum": [
                  "application/xml"
                ]
              }
            ]
          }
        },
        "security": []
      }
    }
  },
  "definitions": {
    "Product": {
      "properties": {
        "product_id": {
          "type": "string",
          "description": "Unique identifier representing a specific product for a given latitude & longitude. For example, uberX in San Francisco will have a different product_id than uberX in Los Angeles."
        },
        "description": {
          "type": "string",
          "description": "Description of product."
        },
        "display_name": {
          "type": "string",
          "description": "Display name of product."
        },
        "capacity": {
          "type": "string",
          "description": "Capacity of product. For example, 4 people."
        },
        "image": {
          "type": "string",
          "description": "Image URL representing the product."
        }
      }
    },
    "Error": {
      "properties": {
        "code": {
          "type": "integer",
          "format": "int32"
        },
        "message": {
          "type": "string"
        },
        "fields": {
          "type": "string"
        }
      }
    },
    "PriceEstimate": {
      "properties": {
        "product_id": {
          "type": "string",
          "description": "Unique identifier representing a specific product for a given latitude & longitude. For example, uberX in San Francisco will have a different product_id than uberX in Los Angeles"
        },
        "currency_code": {
          "type": "string",
          "description": "[ISO 4217](http://en.wikipedia.org/wiki/ISO_4217) currency code."
        },
        "display_name": {
          "type": "string",
          "description": "Display name of product."
        },
        "estimate": {
          "type": "string",
          "description": "Formatted string of estimate in local currency of the start location. Estimate could be a range, a single number (flat rate) or \"Metered\" for TAXI."
        },
        "low_estimate": {
          "type": "number",
          "description": "Lower bound of the estimated price."
        },
        "high_estimate": {
          "type": "number",
          "description": "Upper bound of the estimated price."
        },
        "surge_multiplier": {
          "type": "number",
          "description": "Expected surge multiplier. Surge is active if surge_multiplier is greater than 1. Price estimate already factors in the surge multiplier."
        }
      }
    },
    "Profile": {
      "properties": {
        "first_name": {
          "type": "string",
          "description": "First name of the Uber user."
        },
        "last_name": {
          "type": "string",
          "description": "Last name of the Uber user."
        },
        "email": {
          "type": "string",
          "description": "Email address of the Uber user"
        },
        "picture": {
          "type": "string",
          "description": "Image URL of the Uber user."
        },
        "promo_code": {
          "type": "string",
          "description": "Promo code of the Uber user."
        }
      }
    },
    "Activities": {
      "properties": {
        "offset": {
          "type": "integer",
          "format": "int32",
          "description": "Position in pagination."
        },
        "limit": {
          "type": "integer",
          "format": "int32",
          "description": "Number of items to retrieve (100 max)."
        },
        "count": {
          "type": "integer",
          "format": "int32",
          "description": "Total number of items available."
        },
        "history": {
          "type": "array",
          "items": {
            "$ref": {
              "uri": "#/definitions/Activity",
              "context": null,
              "resolved": false,
              "value": null,
              "dependencies": [],
              "raw": null,
              "description": null
            }
          }
        }
      }
    },
    "Activity": {
      "properties": {
        "uuid": {
          "type": "string",
          "description": "Unique identifier for the activity"
        }
      }
    }
  },
  "schemes": [
    "https"
  ],
  "securityDefinitions": {}
}